@font-face {
    font-family: 'Custom';
    src: url('custom.ttf');
}

*{
    font-family: 'Custom';
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    background: #714f54;
    color: #fff;
    margin: 0px;
}

h1
{
    font-size: 40px;
}

p 
{
    font-size: 18px;
}

a 
{
    font-size: 18px;
}

#portrait
{
    display: block;
    position: relative;
    float: right;
    padding: 35px;
    top: 135px;
}

#header
{
    background-color: rgb(68, 45, 45);
    text-align: center;
    display: block;
    line-height:30px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    margin: 0px;
    top: 0;
}

#description
{
    display: block;
    position: relative;
    text-align: center;

    margin-top: 35px;
    padding-right: 35px;
    padding-left: 35px;
    width: 100%;
}

.footer
{
    background-color: rgb(68, 45, 45);
    position: absolute;
    display: block;
    text-align: center;
    width: 100%;
    padding: 15px;
    bottom: 0;
}

.footer2 {
    padding: 20px;
    text-align: center;
    background: rgb(68, 45, 45);
    margin-top: 20px;
    bottom: 0;
  }

/* Navbar styling */

.navbar ul
{
    list-style-type: none;
    background-color: rgb(68, 45, 45);
    width: 100%;
    height: 35px;
}

.navbar a 
{
    color: white;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 15px;
}

.navbar a:hover
{
    color: rgb(176, 174, 174);
}

.navbar li
{
    float: left;
}

.leftcolumn {
  float: left;
  width: 80%;
}

.rightcolumn {
  float: left;
  width: 20%;
  padding-left: 20px;
}

.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  color: black;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/*.wave {
    position: absolute;
    top: 150px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(138% + 1.3px);
    height: 60px;
}

.wave .shape-fill {
    fill: rgb(68, 45, 45);
}

.wave-2 {
    position: absolute;
    bottom: 60px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave-2 svg {
    position: relative;
    display: block;
    width: calc(138% + 1.3px);
    height: 60px;
}

.wave-2 .shape-fill {
    fill: rgb(68, 45, 45);
}*/

/* Slider and carousel styling */
.slider-wrapper 
{
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

.slides-container 
{
    height: 325px;
    width: 150px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: scroll;
    scroll-behavior: smooth;
}
  
.slide 
{
    width: 150px;
    height: 325px;
    flex: 1 0 100%;
}

.slides-container 
{
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.slides-container::-webkit-scrollbar 
{ 
    width: 0;
    height: 0;
}

@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
}